<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
     <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet" />
</head>
<body>
     <header class="navbar">
    <div class="nav-left">
      <img src="../img/rosto robo.png" alt="Logo TILA" />
      <nav>
         <a href="#">Sobre</a>
        <a href="../view/conquista.html">Área dos pais</a>
      </nav>
    </div>
    <div class="nav-right">
      <select>
        <option>PT/BR</option>
      </select>
    </div>
  </header>

  <div class="banner">
    <img src="../img/Descubra o mundo com a tila.png" alt="">
  </div>

  <section class="rotas-descobertas">
  <h2>ROTAS DAS DESCOBERTAS</h2>
  <p>Um caminho cheio de aventuras criativas e aprendizados</p>

  <div class="rotas-cards">
    <div class="rota-card">
      <img src="../img/livroHome.png" alt="Leitura Interativa">
      <span>LEITURA INTERATIVA</span>
      <a href="../view/leitura.html"><button>Acessar</button></a>
    </div>

    <div class="rota-card">
      <img src="../img/videgameHome.png" alt="Jogos Educativos">
      <span>JOGOS EDUCATIVOS</span>
      <a href="../view/jogos.html"><button>Acessar</button></a>
    </div>

    <div class="rota-card">
      <img src="../img/lapisHome.png" alt="Crie e Aprenda">
      <span>CRIE & APRENDE</span>
      <button>Acessar</button>
    </div>

    <div class="rota-card">
      <img src="../img/familiaHome.png" alt="Momento Família">
      <span>MOMENTO FAMÍLIA</span>
      <button>Acessar</button>
    </div>
  </div>
</section>
</div>

<section class="area-avatar-wrapper">
  <div class="area-avatar">
    <h2>ÁREA DO AVATAR</h2>
    <p>Escolha seu avatar e o personalize</p>

    <div class="avatar-grid">
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/julianaAvatar.png" alt="Avatar 1">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/estherAvatar.png" alt="Avatar 2">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/matheusAvatar.png" alt="Avatar 3">
        </div>
        <span class="badge">Escolher</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/maikonAvatar.png" alt="Avatar 4">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/brunoAvatar.png" alt="Avatar 5">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/santiagoAvatar.png" alt="Avatar 6">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/NunesAvatar.png" alt="Avatar 7">
        </div>
        <span class="badge">Em breve</span>
      </div>
      <div class="avatar-card-wrapper">
        <div class="avatar-card">
          <img src="../img/gustavoAvatar.png" alt="Avatar 8">
        </div>
        <span class="badge">Em breve</span>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
    <div class="footer-top">
      <div class="footer-left">
        <!-- Logo da TILA -->
        <img src="../img/logo.png" alt="Logo TILA" />
      </div>

      <div class="footer-right">
        <p>Fique por dentro das novidades</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Informe seu email" />
          <button><span>&rarr;</span></button>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>copyright © 2025 Tila</p>
      <div class="footer-icons">
        <!-- Ícones das redes sociais -->
        <img src="../img/instagram.png" alt="Instagram" />
        <img src="../img/github.png" alt="GitHub" />
        <img src="../img/facebook.png" alt="Facebook" />
      </div>
    </div>
  </footer>
</body>
</html>