<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script src="JavaScript/script.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <script src="JavaScript/script.js"></script>
    <title>Login</title>
</head>
 <header class="navbar">
    
    <div class="nav-left">
      <img src="../img/rosto robo.png" alt="Logo TILA" class="tl" width="90"/>
      <nav>
        <a href="#">Sobre nós</a>
         <a href="../view/planos.html">Nossos planos</a>
      </nav>
    </div>
    
    <div class="nav-right">
      <select>
        <option>PT/BR</option>
      </select>

    </div>
  </header>
<body>
    <div class="container">

        <div class="tilinho_login">
            <img src="../img/tilinho_login.png" alt="mascote tilinho" width="500px">
        </div>

        
        <div class="form_login">
        <div class="title-sub">    
            <h3>Bem-vindo de volta</h3>
            <p class="sub">Ficamos felizes de te ver aqui novamente. realize seu login</p>
        </div>    

            <form action="#" method="post" id="form">
                <p class="em">Email</p>
                <input type="email" name="email" id="email" placeholder="Informe seu email" required>
                <p class="se">Senha</p>
                <input type="password" name="password" id="senha" placeholder="Informe sua senha" required><br>
                <a href="../view/home.html" class="botao">entrar</a>
            </form>
            <div class="separator">
               <p class="ou">ou</p>
            </div>

            <div class="login_sec">
                <a href="#"><img src="../img/google.png" alt="login via google" width="40" class="google"></a>
                <a href="#"><img src="../img/facebook.png" alt="login via facebook" width="40" class="facebook"></a>
            </div>

            <div class="chamada">
            <p>Não possui uma conta?, então cadastre-se <a href="../view/cadastro.html" class="a">aqui</a></p>
            </div>

        </div>
            
    </div>

<footer>

    
<img src="../img/Line 5.png" alt="linha preta fina" width="1500" class="linha_cima">
    <div class="rodape">
        <div class="logo_tila">
            <img src="../img/logo_tila.png" alt="logo tila" width="200" class="logo-tl">
        </div>
        <div class="form_rodape">
            <form action="#">
                <p>Fique por dentro das novidades</p>
                <div class="chamada">
                <input type="email" name="email" id="email" placeholder="Informe seu email"> 
                <a href="#"><img src="../img/image 22.png" alt="seta de confirmação" width="60" class="seta"></a>
                </div>
            </form>
        </div>
    </div>

 <div class="redes">
        <a href="#"><img src="../img/Instagram Circle.png" alt="Instagram do tila" width="40"></a>
        <a href="#"><img src="../img/github.png" alt="GitHub do tila" width="40"></a>
        <a href="#"><img src="../img/facebook-new.png" alt="facebook do tila" width="40"></a>
    </div>
    <img src="../img/Line 5.png" alt="linha preta fina" width="1500" class="linha_cima">
</footer>
</body>
</html>